* {
    background-color: lightblue;
}
header {
    display:flex;
    justify-content:space-between;
    font-size: 150%;
}

section {
    text-align: center;
}

section button {
    height: 30px;
    background-color: purple;
    color: white;
    border-radius: 10px
}
li {
    list-style: none;
    cursor:pointer;
    padding-bottom: 15px;
}